{% extends 'layout/base.html' %}
{% block content %}
    <!--Main layout-->
<main style='margin-top:20vh;'>
    <div class="container">

        <!--Section: Main info-->
        <section class="mt-5 wow fadeInLeft">

            <!--Grid row-->
            <div class="row">

                <!--Grid column-->

                <!--Grid column-->

                <!--Grid column-->
                <div class="col-md-10 mb-4">

                    <!-- Main heading -->
                    <h3 class="h3 mb-3 text-center" style='margin-left:40vh'>Plusieurs Sports avec disposition</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus impedit magni modi mollitia optio quasi vitae? Blanditiis deleniti incidunt laboriosam laborum laudantium molestias, nisi perspiciatis rem sapiente tenetur ullam vero.
                        <strong></strong></p>
                    <!-- Main heading -->

                    <hr>

                    <p>
                        <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab adipisci, beatae cupiditate ducimus eveniet, excepturi exercitationem explicabo facilis hic illo in incidunt laboriosam laborum neque non nulla qui temporibus, vero!</span>
                        <span>A asperiores enim magnam maxime, minima nemo quis voluptatum? Accusamus aliquam animi aperiam assumenda atque doloribus enim fugit harum laudantium natus numquam quisquam repudiandae sed suscipit temporibus voluptas, voluptatem? Quaerat?</span>
                    </p>

                    <!-- CTA -->

                </div>
                <!--Grid column-->

            </div>
            <!--Grid row-->

        </section>
        <!--Section: Main info-->

        <hr class="my-5">

        <!--Section: Main features & Quick Start-->
        <section class="animated fadeInRight " >

            <h3 class="h3 text-center mb-5">A propos de Bet.Sports</h3>

            <!--Grid row-->
            <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet beatae consequatur fugit illo, labore
                laudantium nam nemo, optio quisquam quod sed voluptatum! Asperiores deserunt non perferendis qui ullam
                ut vel.
            </div>
            <div>Dicta earum eligendi et illo incidunt ipsa, ipsum laudantium libero natus nobis non nulla obcaecati
                optio quibusdam, recusandae reiciendis rem repellat, sequi vel vero. Earum eum maxime numquam ratione
                voluptatibus.
            </div>
            <div>Architecto aut consequuntur delectus dolorum placeat? Architecto dolorem, dolorum error hic sit
                voluptas! Aliquam assumenda blanditiis dicta fugit obcaecati rem sit voluptas. Doloremque exercitationem
                fugiat labore, magni nobis pariatur tempore!
            </div>
            <div>Amet, deserunt doloremque dolorum eius explicabo impedit iusto maxime minus molestias nostrum quisquam
                repellat, repellendus reprehenderit sequi vitae? Aliquid consequuntur, eius ipsam officiis quidem quod
                quos sapiente sed tempore veniam!
            </div>
            <div>Amet aperiam assumenda at cum dolores excepturi exercitationem magnam quia sequi! Beatae consequuntur
                cum dolor dolorum, ducimus fuga fugit natus nostrum nulla omnis quaerat quisquam saepe suscipit tempore
                tenetur veniam?
            </div>
            <!--/Grid row-->

        </section>
        <!--Section: Main features & Quick Start-->
    </div>
</main>
<!--Main layout-->

{% endblock content %}

