<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <style>
        .message{
            text-align:center;
            margin-top:50vh;
        }
    </style>
    <title>Erreur404</title>
  </head>
  <body>
    <h1 class='message'>ERROR 404 , Vous pouvez cliquez ici pour revenir a la <a href='../home'>page d'accueil</a> </h1>
  </body>
</html>

    
